.corfundo{
    background: rgb(0, 26, 97);
 }

 button{
    width: 100%;
 }

 h1{
   background: rgb(0, 26, 97);
   color: aliceblue;
}

h2{
   background: rgb(0, 26, 97);
   color: aliceblue;
}

h6{
   background: rgb(0, 26, 97);
   color: aliceblue;
}

body{
   background-color: rgb(233, 233, 233);
}

.btnCursos{
   background-color: rgb(145, 145, 145);
}